name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

env:
  RUSTFLAGS: -D warnings
  RUST_BACKTRACE: full
  STABLE_VERSION: 1.82.0

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust
        run: |
          rustup update $STABLE_VERSION
          rustup default $STABLE_VERSION
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libunwind-dev libdw-dev
      - uses: Swatinem/rust-cache@v2
      - name: Test everything
        run: cargo test
      - name: Test rstack with libdw
        run: cargo test --manifest-path rstack/Cargo.toml --no-default-features --features dw
      - name: Test libunwind with features
        run: cargo test --manifest-path unwind/Cargo.toml --all-features
      - name: Dw systest
        run: cargo run --manifest-path dw-systest/Cargo.toml
  libunwind:
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64
          - i686
          - aarch64
          - powerpc64
        version:
          - 1.2.1
          - 1.4.0
          - 1.6.2
        exclude:
          # libunwind has a bug where access_reg() dereferences cursor->uc without
          # checking validity. When DWARF unwinding encounters DWARF_LOC_TYPE_REG
          # locations, it calls access_reg() which computes an offset into the
          # invalid/NULL uc pointer, causing SIGSEGV.
          # See: https://github.com/libunwind/libunwind/issues/938
          - target: x86_64
            version: 1.4.0
          - target: i686
            version: 1.2.1
          - target: i686
            version: 1.4.0
          - target: i686
            version: 1.6.2
    name: libunwind ${{ matrix.target }} ${{ matrix.version }}
    runs-on: ubuntu-latest
    env:
      PKG_CONFIG_ALLOW_CROSS: 1
      CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: aarch64-linux-gnu-gcc
      CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_RUNNER: qemu-aarch64 -L /usr/aarch64-linux-gnu
      CARGO_TARGET_POWERPC64_UNKNOWN_LINUX_GNU_LINKER: powerpc64-linux-gnu-gcc
      CARGO_TARGET_POWERPC64_UNKNOWN_LINUX_GNU_RUNNER: qemu-ppc64 -L /usr/powerpc64-linux-gnu
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust
        run: |
          rustup update $STABLE_VERSION
          rustup default $STABLE_VERSION
          rustup target add ${{ matrix.target }}-unknown-linux-gnu
      - name: Install cross compiler
        run: |
          case ${{ matrix.target }} in
            x86_64)
              exit 0
              ;;
            i686)
              packages=gcc-multilib
              ;;
            aarch64)
              packages="gcc-aarch64-linux-gnu g++-aarch64-linux-gnu qemu-user"
              ;;
            powerpc64)
              packages="gcc-powerpc64-linux-gnu g++-powerpc64-linux-gnu qemu-user"
              ;;
          esac

          sudo apt-get update
          sudo apt-get install -y $packages
      - name: Libunwind cache
        id: libunwind-cache
        uses: actions/cache@v5
        with:
          path: ~/libunwind
          key: libunwind-${{ matrix.version }}-${{ matrix.target }}-v7-debug
      - name: Build libunwind
        if: ${{ !steps.libunwind-cache.outputs.cache-hit }}
        run: |
          # libunwind < 1.5.0 needs -fcommon due to GCC 10+ defaulting to -fno-common
          fcommon_flag=""
          if [[ "${{ matrix.version }}" < "1.5.0" ]]; then
            fcommon_flag="-fcommon"
          fi

          case ${{ matrix.target }} in
            x86_64)
              args="CFLAGS=\"-g -O0 $fcommon_flag\""
              ;;
            i686)
              args="CFLAGS=\"-g -O0 -m32 $fcommon_flag\""
              ;;
            aarch64)
              args="CC=aarch64-linux-gnu-gcc CXX=aarch64-linux-gnu-g++ CFLAGS=\"-g -O0 $fcommon_flag\""
              ;;
            powerpc64)
              args="CC=powerpc64-linux-gnu-gcc CXX=powerpc64-linux-gnu-g++ CFLAGS=\"-g -O0 $fcommon_flag\""
              ;;
          esac

          curl -L https://download-mirror.savannah.nongnu.org/releases/libunwind/libunwind-${{ matrix.version }}.tar.gz | tar -C /tmp -xzf -
          cd /tmp/libunwind-${{ matrix.version }}
          eval ./configure --enable-debug --disable-static --host ${{ matrix.target }}-linux-gnu --target ${{ matrix.target }}-linux-gnu --prefix=$HOME/libunwind $args
          # Only build src directory to avoid test build failures with old libunwind versions
          make -C src -j$(nproc)
          make -C src install
          # Install headers manually (make -C include install doesn't work standalone)
          mkdir -p $HOME/libunwind/include
          cp include/*.h $HOME/libunwind/include/
      - name: Debug - List installed libunwind files
        run: |
          echo "=== Installed files in ~/libunwind ==="
          find ~/libunwind -type f | head -50
          echo "=== pkg-config directory ==="
          ls -la ~/libunwind/lib/pkgconfig/ || echo "pkg-config dir not found"
          echo "=== .pc file contents ==="
          cat ~/libunwind/lib/pkgconfig/*.pc 2>/dev/null || echo "No .pc files found"
      - name: Setup environment variables
        run: |
          echo "PKG_CONFIG_PATH=$HOME/libunwind/lib/pkgconfig" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=$HOME/libunwind/lib" >> $GITHUB_ENV
      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}-${{ matrix.version }}
      - name: Systest
        run: cargo run --manifest-path unwind-systest/Cargo.toml --target ${{ matrix.target }}-unknown-linux-gnu
      - name: Unwind test
        run: cargo test --manifest-path unwind/Cargo.toml --target ${{ matrix.target }}-unknown-linux-gnu
